<div class="bg-white p-1 flex flex-col rounded shadow-sm border border-gray-200 hover:shadow-md">
    <div class="border-b border-gray-300">    
        <span class="font-bold text-gray-700">Card Title</span>
    </div>
    <div class="py-5">
        <p>Card Content</p>
    </div>
    <div class="flex gap-1">
        <span class="flex-grow"></span>
        <button class="bg-theme-600 text-white text-xs px-2 py-1 font-bold rounded hover:bg-theme-700">Action 1</button>
    </div>
</div>