@page "/"

<PageTitle>OneMind</PageTitle>

<div class="w-full">
    <div class="w-4/5 px-5 py-2 bg-theme-300 text-gray-800 mx-auto rounded">
        <span>Welcome to <span class="font-bold font-mono text-xl underline">OneMind</span> Dashboard</span>
    </div>

    <div class="w-4/5 px-5 py-2 mx-auto grid grid-cols-5 gap-2 text-sm">
        <Card></Card> 
        <Card></Card> 
        <Card></Card> 
        <Card></Card> 
        <Card></Card> 
        <Card></Card> 
        <Card></Card> 
    </div>
</div>