@page "/"

<PageTitle>Index</PageTitle>

    <div class="bg-red-500">
        <div class="mx-auto py-12 px-4">
            <div class="mt-8 flex">
                <button class="bg-gray-500 hover:bg-purple-600 p-4 shadow-md rounded-md text-white m-10">
                    Downloadasdasd
                </button>
                <button class="bg-gray-500 hover:bg-red-600 p-4 shadow-md rounded-md text-white m-10">
                    Visit
                </button>
            </div>
        </div>
    </div>